html,
body {
	margin: 0;
	padding: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: transparent;
}

@keyframes danmakuIn {
	from {
		transform: translatex(400px);
		opacity: 0;
	}

	to {
		transform: translatex(0);
		opacity: 1;
	}
}

#main {
	position: fixed;
	overflow: hidden;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.op-0 {
	opacity: 0;
}

.danmaku-placeholder {
	height: 100%;
}

.danmaku-item {
	display: flex;
	transition: all .5s;
	animation: danmakuIn .5s;
	align-items: center;
	line-height: 43px;
}

img {
	vertical-align: middle;
}

.danmaku-item span {
	/*text-shadow: -1px -1px rgb(47,48,49), -1px -1px rgb(47,48,49), -1px 0 rgb(47,48,49), -1px 1px rgb(47,48,49), -1px 1px rgb(47,48,49), -1px -1px rgb(47,48,49), -1px -1px rgb(47,48,49), -1px 0 rgb(47,48,49), -1px 1px rgb(47,48,49), -1px 1px rgb(47,48,49), 0 -1px rgb(47,48,49), 0 -1px rgb(47,48,49), 0 0 rgb(47,48,49), 0 1px rgb(47,48,49), 0 1px rgb(47,48,49), 1px -1px rgb(47,48,49), 1px -1px rgb(47,48,49), 1px 0 rgb(47,48,49), 1px 1px rgb(47,48,49), 1px 1px rgb(47,48,49), 1px -1px rgb(47,48,49), 1px -1px rgb(47,48,49), 1px 0 rgb(47,48,49), 1px 1px rgb(47,48,49), 1px 1px rgb(47,48,49);
*/}

.author-face {
	width: 32px;
	height: 32px;
	border-radius: 32px;
	margin-right: 6px;
	display: inline-block;
	background-size: cover;
	flex: none;
}

.content {
	overflow: initial;
	align-self: center;
}

.author-name {
	color: #191970;
	font-family: "Changa One", "Microsoft YaHei";
	font-size: 29px;
	line-height: 29px;
	font-weight: 630;

	display: inline-block;
	vertical-align: middle;
}

.author {
	text-shadow: -1px -1px #fff, -1px -1px #fff, -1px 0 #fff, -1px 1px #fff, -1px 1px #fff, -1px -1px #fff, -1px -1px #fff, -1px 0 #fff, -1px 1px #fff, -1px 1px #fff, 0 -1px #fff, 0 -1px #fff, 0 0 #fff, 0 1px #fff, 0 1px #fff, 1px -1px #fff, 1px -1px #fff, 1px 0 #fff, 1px 1px #fff, 1px 1px #fff, 1px -1px #fff, 1px -1px #fff, 1px 0 #fff, 1px 1px #fff, 1px 1px #fff;
	width: auto;
	text-align: right;
	position: relative;

}

.author-name.colon::after {
	content: "：";
	margin-left: 2px;
}

.author-name.anchor {
	color: #ff4500;
}

.author-name.owner {
	color: #ff4500;
}

.message {
	/*text-shadow: -1px -1px rgb(47,48,49), -1px -1px rgb(47,48,49), -1px 0 rgb(47,48,49), -1px 1px rgb(47,48,49), -1px 1px rgb(47,48,49), -1px -1px rgb(47,48,49), -1px -1px rgb(47,48,49), -1px 0 rgb(47,48,49), -1px 1px rgb(47,48,49), -1px 1px rgb(47,48,49), 0 -1px rgb(47,48,49), 0 -1px rgb(47,48,49), 0 0 rgb(47,48,49), 0 1px rgb(47,48,49), 0 1px rgb(47,48,49), 1px -1px rgb(47,48,49), 1px -1px rgb(47,48,49), 1px 0 rgb(47,48,49), 1px 1px rgb(47,48,49), 1px 1px rgb(47,48,49), 1px -1px rgb(47,48,49), 1px -1px rgb(47,48,49), 1px 0 rgb(47,48,49), 1px 1px rgb(47,48,49), 1px 1px rgb(47,48,49);
	*/
	color: rgb(47,48,49);
	font-family: "Imprima", "Microsoft YaHei";
	font-size: 30px;
	display: flex;
	font-weight: 750;
}

.gift-message{
	/*text-shadow: -1px -1px rgb(47,48,49), -1px -1px rgb(47,48,49), -1px 0 rgb(47,48,49), -1px 1px rgb(47,48,49), -1px 1px rgb(47,48,49), -1px -1px rgb(47,48,49), -1px -1px rgb(47,48,49), -1px 0 rgb(47,48,49), -1px 1px rgb(47,48,49), -1px 1px rgb(47,48,49), 0 -1px rgb(47,48,49), 0 -1px rgb(47,48,49), 0 0 rgb(47,48,49), 0 1px rgb(47,48,49), 0 1px rgb(47,48,49), 1px -1px rgb(47,48,49), 1px -1px rgb(47,48,49), 1px 0 rgb(47,48,49), 1px 1px rgb(47,48,49), 1px 1px rgb(47,48,49), 1px -1px rgb(47,48,49), 1px -1px rgb(47,48,49), 1px 0 rgb(47,48,49), 1px 1px rgb(47,48,49), 1px 1px rgb(47,48,49);
	*/
	color: rgb(47,48,49);
	font-family: "Imprima", "Microsoft YaHei";
	font-size: 30px;
	display: flex;
	font-weight: 750;
}

.gift {
	/*text-shadow: -1px -1px rgb(47,48,49), -1px -1px rgb(47,48,49), -1px 0 rgb(47,48,49), -1px 1px rgb(47,48,49), -1px 1px rgb(47,48,49), -1px -1px rgb(47,48,49), -1px -1px rgb(47,48,49), -1px 0 rgb(47,48,49), -1px 1px rgb(47,48,49), -1px 1px rgb(47,48,49), 0 -1px rgb(47,48,49), 0 -1px rgb(47,48,49), 0 0 rgb(47,48,49), 0 1px rgb(47,48,49), 0 1px rgb(47,48,49), 1px -1px rgb(47,48,49), 1px -1px rgb(47,48,49), 1px 0 rgb(47,48,49), 1px 1px rgb(47,48,49), 1px 1px rgb(47,48,49), 1px -1px rgb(47,48,49), 1px -1px rgb(47,48,49), 1px 0 rgb(47,48,49), 1px 1px rgb(47,48,49), 1px 1px rgb(47,48,49);
	*/
	color: #eb76ff;
	font-family: "Changa One", "Microsoft YaHei";
	font-size: 30px;
	line-height: 40px;
	font-weight: 750;
}
